<div ng-include="'components/apply-navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header-blue">Select Loan amount and term.</h1>
      <p class="form-header" style="text-align:left" id="page-info">Make sure you only borrrow the amount you can afford to payback.</p>
    </div>
  </div>
  </div>


  <!-- ******Application progress****** -->
  <div class="container hidden-xs">
  <div ng-include="'components/application-progress/application-progress-three.html'"></div>
  </div>

   <div class="container">
 <div class="row">

   <div class="col-sm-8" >

   <form class="form-horizontal application-form-container" name="form"  novalidate>

     <p class="form-header">Loan details</p>
     <hr>

         <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Loan purpose</label>
    <div class="col-sm-6">

      <select class="form-control" ng-model="loan.purpose" ng-options="purpose.value for purpose in loanPurpose" >

        <option value="">--Please Select--</option>

</select>
    </div>

    <div class="col-sm-1 hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="Your answer does not affect your loan application" tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

  <div class="form-group">
  <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Amount (£)</label>
  <div class="col-sm-6">
    <select class="form-control" ng-model="loan.amount" ng-options="amount.value for amount in loanSelect">

      <option value="">--Please Select--</option>

</select>

  </div>
</div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Term (months)</label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="loan.term" ng-options="term.value for term in loanTerm" ng-change="repayment()">

        <option value="">--Please Select--</option>

</select>

    </div>
  </div>

     <p class="form-header" style="margin-top:20px" ng-model="repaymentValue" ng-show="loanSelected">Your monthly repayment is £{{ repaymentValue}}</p>



<hr>
      <div class="form-group" style="padding-bottom:5px">
   <div class="checkbox">
    <label class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox-label">
            <input type="checkbox" > Tick this box to indicate that you are sure you are able to afford the monthly repayment

    </label>
  </div>
  </div>
  <hr>
        <div class="form-group" style="padding-bottom:5px">
   <div class="checkbox">
    <label class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox-label">
      <input type="checkbox" > Tick this box to indicate that you are able to provide payslips or bank statement to show your monthly income</a>.
    </label>
  </div>
  </div>
  <hr>


  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" ng-click="loanRequest()" ladda="loading" class="btn btn-cta-primary btn-lg btn-block" id="next-btn" data-style="zoom-in">Next</button>
    </div>


  </div>
</form>

   </div>


   <!-- CRITERIA-->
<div ng-include="'components/criteria/criteria.html'"></div>


 </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-8" style="text-align:right;margin-top:10px">
        <img src="http://i59.tinypic.com/wirfc6.gif" alt="">
      </div>
    </div>
  </div>

</div>






<div ng-include="'components/footer/footer.html'"></div>
