<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header-blue">You can borrow up to £2000</h1>
      <p class="lead">Make sure you only borrrow the amount you can afford to payback.</p>
    </div>
  </div>
  </div>
  
  
  <!-- ******Application progress****** -->
  <div class="container">
  <div ng-include="'components/application-progress/application-progress-three.html'"></div>
  </div>
  
   <div class="container">
 <div class="row">
   
   <div class="col-sm-8" >
     
   <form class="form-horizontal application-form-container" name="form" ng-submit="loanRequest(form)" novalidate>

     <p class="form-header">Loan details</p>
     <hr>
     
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Loan purpose</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="loan.loanPurpose" >
         
   
         <option value="FUN">FUN</option>
          <option value="Mrs">Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 
    </div>
  </div>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Loan amount</label>
    <div class="col-sm-6">
       <select class="form-control" ng-model="loan.loanAmount" >
         
   
         <option value=100>FUN</option>
          <option value="Mrs">Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 

    </div>
  </div>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Term</label>
    <div class="col-sm-6">
       <select class="form-control" ng-model="loan.loanTerm" >
         
   
         <option value=12>FUN</option>
          <option value="Mrs">Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 

    </div>
  </div>
  
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-6 col-sm-offset-3  control-label" style="margin-top:12px;text-align:left">Your monthly repayment is £134.56</label>

  </div>
  

  
  <hr>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-3">
      <button type="submit" class="btn btn-cta-primary btn-lg btn-block" id="next-btn">Next</button>
    </div>
    
    <div class="col-sm-2" id="spinning-loader">
      <p id="loader" ></p>
    </div>
  </div>
</form>
     
   </div>
   
 </div>
  </div>
  
  
  
</div>






<div ng-include="'components/footer/footer.html'"></div>