<div ng-include="'components/apply-navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header-blue">Tell us about your vehicle</h1>
      <p class="form-header" style="text-align:left" id="page-info">We need some information about your vehicle to carry out a HPI check on your vehicle</p>
    </div>
  </div>
  </div>


  <!-- ******Application progress****** -->
  <div class="container hidden-xs">
  <div ng-include="'components/application-progress/application-progress-two.html'"></div>
  </div>

   <div class="container">
 <div class="row">

   <div class="col-sm-8" >

   <form class="form-horizontal application-form-container" name="form" ng-submit="newVehicle(form)" novalidate>

     <p class="form-header">Vehicle details</p>
     <hr>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Registered keeper</label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="vehicle.keeper" ng-options="keeper.value for keeper in keeperoptions" >

        <option value="">--Please Select--</option>

 </select>
    </div>

    <div class="col-sm-1 hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="The vehicle must be registered in your name and to your home address" tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Finance status </label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="vehicle.finance" ng-options="finance.value for finance in financeoptions" >

        <option value="">--Please Select--</option>

 </select>
    </div>
    <div class="col-sm-1 hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="Only include loans that are secured on the vehicle. If you used an unsecured loan, or borrowed from a friend/relative to buy the car then click 'finance free'." tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Registration number</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="vehicle.registration">

    </div>
  </div>

      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Mileage</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="vehicle.mileage">

    </div>
  </div>

  <hr>
        <div class="form-group" style="padding-bottom:5px">
   <div class="checkbox">
    <label class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox-label"  id="mobile-declaration">
      <input type="checkbox"> Tick this box to indicate that you have read our <a href="/terms">Terms and conditions</a> & <a href="/privacy">Privacy Policy</a>.
    </label>
  </div>
  </div>
  <hr id="mobile-divider">
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" ladda="loading" class="btn btn-cta-primary btn-lg btn-block" id="next-btn" data-style="zoom-in">Next</button>
    </div>

  </div>
</form>

   </div>

<!-- CRITERIA-->
<div ng-include="'components/criteria/criteria.html'"></div>


 </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-8" style="text-align:right;margin-top:10px">
      <i class="fa fa-lock" style="color:#0e83cd"> </i> Secured by SSL
      </div>
    </div>
  </div>

</div>






<div ng-include="'components/footer/footer.html'"></div>
