<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header-blue">Tell us about your vehicle</h1>
      <p class="form-header" style="text-align:left" id="page-info">We need some information about your vehicle to carry out a HPI check on your vehicle</p>
    </div>
  </div>
  </div>


  <!-- ******Application progress****** -->
  <div class="container hidden-xs">
  <div ng-include="'components/application-progress/application-progress-two.html'"></div>
  </div>

   <div class="container">
 <div class="row">

   <div class="col-sm-8" >

   <form class="form-horizontal application-form-container" name="form" ng-submit="newVehicle(form)" novalidate>

     <p class="form-header">Vehicle details</p>
     <hr>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Registered keeper</label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="vehicle.keeper" ng-options="keeper.value for keeper in keeperoptions" >

        <option value="">--Please Select--</option>

 </select>
    </div>

    <div class="col-sm-1" style="margin-top:13px">
    <a href="" tooltips tooltip-title="The vehicle must be registered in your name" tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Finance status</label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="vehicle.finance" ng-options="finance.value for finance in financeoptions" >

        <option value="">--Please Select--</option>

 </select>
    </div>
    <div class="col-sm-1" style="margin-top:13px">
    <a href="" tooltips tooltip-title="The vehicle must be finance free" tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

  <div class="form-group">
  <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Insurance type</label>
  <div class="col-sm-6">
    <select class="form-control" ng-model="vehicle.insurance" ng-options="insurance.value for insurance in insuranceoptions" >

      <option value="">--Please Select--</option>

</select>
  </div>

  <div class="col-sm-1" style="margin-top:13px">
  <a href="" tooltips tooltip-title="The vehicle must have a valid insurance" tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
  </div>
</div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Registration number</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="vehicle.registration">

    </div>
  </div>

      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Mileage</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="vehicle.mileage">

    </div>
  </div>

  <hr>
      <div class="form-group" style="padding-bottom:5px">
   <div class="checkbox">
    <label class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox-label">
            <input type="checkbox" > Tick this box to indicate that you are the registered keeper of the vehicle.

    </label>
  </div>
  </div>
  <hr>
        <div class="form-group" style="padding-bottom:5px">
   <div class="checkbox">
    <label class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox-label">
      <input type="checkbox" > Tick this box to indicate that you have read our <a href="">Terms and conditions</a> & <a href="">Privacy Policy</a>.
    </label>
  </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" ladda="loading" class="btn btn-cta-primary btn-lg btn-block" id="next-btn" data-style="zoom-in">Next</button>
    </div>

  </div>
</form>

   </div>

     <div class="col-sm-3 well hidden-xs" style="margin-left:40px;margin-top:-95px">
     <div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-info" style="color:#eea303"></i></div>
  </div>
   <div class="col-sm-8 col-sm-offset-1" style="margin-top:5px;">
 Eligibility Criteria
  </div>
   </div>
      <div class="col-sm-3 hidden-xs" style="background:#fff;margin-left:40px;margin-top:-21px;border:1px solid #eee;padding-left:40px;padding-top:20px;line-height:2.5em;padding-bottom:20px">
    &#10004; Be a UK resident<br>&#10004; Have a Full UK driving licence<br> &#10004; Earn more than £500 monthly <br> &#10004; Be the owner of the vehicle <br> &#10004; Vehicle must be roadworthy <br> &#10004; Must have a smartphone
   </div>
      <div class="col-sm-3 well hidden-xs" style="margin-left:40px;margin-top:55px">
     <div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-phone" style="color:#eea303"></i></div>
  </div>
   <div class="col-sm-8 col-sm-offset-1" style="margin-top:5px;text-align:center">
 Contact us
  </div>

   </div>
      <div class="col-sm-3 hidden-xs" style="background:#fff;margin-left:40px;margin-top:-21px;border:1px solid #eee;height:180px;padding-left:30px;padding-top:20px;text-align:Center">
02085933403
<hr>
Our opening ours are monday - friday (9am - 8pm),<br> Saturdays (10am - 2pm)

   </div>
 </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-8" style="text-align:right;margin-top:10px">
        <img src="http://i59.tinypic.com/wirfc6.gif" alt="">
      </div>
    </div>
  </div>

</div>






<div ng-include="'components/footer/footer.html'"></div>
