<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header-blue" ng-model="firstName"><span style="text-transform:capitalize">{{ firstName }}</span>,your Loan has been approved.</h1>
      <p class="form-header" style="text-align:left" id="page-info">We need to have a quick chat with you before we payout your Loan.</p>
    </div>
  </div>
  </div>


  <!-- ******Application progress****** -->
  <div class="container hidden-xs">
  <div ng-include="'components/application-progress/application-progress-four.html'"></div>
  </div>

   <div class="container">
 <div class="row">

   <div class="col-sm-8" >

   <form class="form-horizontal application-form-container" name="form" ng-submit="newVehicle(form)" style="padding-bottom:20px" novalidate>

      <div class="row" style="text-align:center">
        <p class="form-header"  style="margin-top:10px" >When is the best time to call you?</p>
        <hr>
      </div>

             <div class="form-group">

    <div class="col-sm-4 col-sm-offset-2">

   <select name="" id="" class="form-control" ng-model="phonecall.callTime" ng-options="availableSlot.value for availableSlot in slots">
     <option value="">--Please Select--</option>
   </select>
    </div>
        <div class="col-sm-4">

      <button class="btn btn-cta-primary btn-block btn-add" ng-click="arrangeCall()" id="find-address">Request Phone Call</button>
    </div>
  </div>

<hr>
  <div class="row" style="text-align:center">
        <p class="form-header" >You will need the following</p>
               <p  >A Smartphone </p>
                <p  >Vehicle Logbook ( V5 Registration Document )</p>

              <p  >Payslip or Bank Statement </p>
               <p  >Full UK Driving Licence </p>
               <p>Bank account details</p>
               <p>Debit card details</p>


      </div>
<hr>
<div class="row" style="text-align:center;padding-left:30px;padding-right:30px">
      <p class="form-header" >What to expect during the phone call</p>
             <p>Our representative will go over your loan agreement with you, the representative will also use your bank account details to set up a direct debit. If you have any questions about your loan application please feel free to ask the representative.</p>



    </div>



</form>

   </div>

        <div class="col-sm-3 well hidden-xs" style="background:#eee;margin-left:40px;margin-top:-95px">
     <div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-info" style="color:#eea303"></i></div>
  </div>
   <div class="col-sm-8 col-sm-offset-1" style="margin-top:5px;">
 Eligibility Criteria
  </div>
   </div>
      <div class="col-sm-3 hidden-xs" style="background:#fff;margin-left:40px;margin-top:-21px;border:1px solid #eee;padding-left:40px;padding-top:20px;line-height:2.5em;padding-bottom:20px">
    &#10004; Be a UK resident<br>&#10004; Have a Full UK driving licence<br> &#10004; Earn more than £500 monthly <br> &#10004; Be the owner of the vehicle <br> &#10004; Vehicle must be roadworthy <br> &#10004; Must have a smartphone
   </div>
      <div class="col-sm-3 well hidden-xs" style="background:#eee;margin-left:40px;margin-top:55px">
     <div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-phone" style="color:#eea303"></i></div>
  </div>
   <div class="col-sm-8 col-sm-offset-1" style="margin-top:5px;text-align:center">
 Contact us
  </div>

   </div>
      <div class="col-sm-3 hidden-xs" style="background:#fff;margin-left:40px;margin-top:-21px;border:1px solid #eee;height:180px;padding-left:30px;padding-top:20px;text-align:Center">
02085933403
<hr>
Our opening ours are monday - friday (9am - 8pm),<br> Saturdays (10am - 2pm)
   </div>

 </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-8" style="text-align:right;margin-top:10px">
        <img src="http://i59.tinypic.com/wirfc6.gif" alt="">
      </div>
    </div>
  </div>

</div>






<div ng-include="'components/footer/footer.html'"></div>
