<!-- ******FOOTER****** -->
<!-- ******FOOTER****** -->
<footer class="footer" style="background:#eee">

    <div class="footer-content">
        <div class="container" style="color:#4d4d4d">
<p style="margin-top:-15px;font-size:12px">1. Amigo Loans Ltd. Authorised and regulated by the Financial Conduct Authority. Registered in the UK, number 4841153. Registered Office: Walton House, 56 - 58 Richmond Hill, Bournemouth, BH2 6EX. Registered with the Information Commissioners Office Z8738456. Financial Conduct Authority Permission Number 557709. Amigo Loans Ltd are a part of The Richmond Group. VAT Number 945758376. View our Terms & Site Terms  </p>
<p style="margin-top:0;font-size:12px">2. Amigo Loans Ltd. Authorised and regulated by the Financial Conduct Authority. Registered in the UK, number 4841153. Registered Office: Walton House, 56 - 58 Richmond Hill, Bournemouth, BH2 6EX. Registered with the Information Commissioners Office Z8738456. Financial Conduct Authority Permission Number 557709. Amigo Loans Ltd are a part of The Richmond Group. VAT Number 945758376. View our Terms & Site Terms  </p>      </div>

  </div>
        <!--//container-->
    </div>
    <!--//footer-content-->
</footer>
<!--//footer-->

<footer class="footer" style="margin-top:-150px">

    <div class="footer-content">
        <div class="container">
            <div class="row">
              <!--//foooter-col-->
              <div class="footer-col col-md-3 col-sm-12 contact">
                  <div class="footer-col-inner">
                      <h3 class="title" style="color:#8C8B8C">Get in touch</h3>
                      <div class="row">
                          <p class="tel col-md-12 col-sm-4" style="color:#fff">
                              <i class="fa fa-phone" style="color:#fff"></i>0800 123 4567</p>
                          <p class="email col-md-12 col-sm-4">
                              <i class="fa fa-envelope" style="color:#fff"></i>
                              <a href="#" style="color:#fff">hello@driverloan.co.uk</a>
                          </p>
                          <p class="email col-md-12 col-sm-4" >
                              <i class="fa fa-comment" style="color:#fff"></i>
                              <a href="#" style="color:#fff">Live Chat</a>
                          </p>
                      </div>
                  </div>
                  <!--//footer-col-inner-->
              </div>
                <!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-4 links">
                    <div class="footer-col-inner">
                        <h3 class="title" style="color:#8C8B8C">About</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>FAQs</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Our Promises</a>
                            </li>
                            <li>
                                <a href="http://driverloan.workable.com/" style="color:#fff"><i class="fa fa-caret-right"></i>Careers</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Terms of Services</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3 class="title" style="color:#8C8B8C">Loan information</h3>
                        <div class="row">
                            <p class="tel col-md-12 col-sm-4" style="color:#fff">
                                <i class="fa fa-phone" style="color:#fff"></i>0800 123 4567</p>
                            <p class="email col-md-12 col-sm-4" style="color:#fff">
                                <i class="fa fa-envelope" style="color:#fff"></i>
                                <a href="#" style="color:#fff">hello@driverloan.co.uk</a>
                            </p>
                            <p class="email col-md-12 col-sm-4" style="color:#fff">
                                <i class="fa fa-comment" style="color:#fff"></i>
                                <a href="#" style="color:#fff">Live Chat</a>
                            </p>
                        </div>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->

                <!--//foooter-col-->
                <div class="footer-col col-md-2 col-sm-12 contact" style="padding-top:20px">
                    <div class="footer-col-inner">
                        <div class="row">
                            <p class="tel col-md-12 col-sm-4">
                              <img src="http://cdn.mxpnl.com/site_media/images/partner/badge_blue@2x.png" alt="" style="width:140px"/>
                            <p class="email col-md-12 col-sm-4" style="margin-top:10px">
                            <img src="http://cdn.fifa14trader.com/img/norton.png" alt="" style="width:140px">
                            </p>

                        </div>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->

            </div>
            <!--//row-->



        </div>
        <!--//container-->
    </div>
    <!--//footer-content-->
</footer>
<!--//footer-->
