<!-- ******FOOTER****** -->
<!-- ******FOOTER****** -->
<footer class="footer" style="background:#eee">

    <div class="footer-content">
        <div class="container" style="color:#4d4d4d">

<p style="margin-top:-15px;font-size:12px">1. Driver Loan is dedicated to helping the individual. Whether you’re employed, self-employed or a small business owner who needs to generate money fast, we’re always here for you. If you own a vehicle and have been hit with an unexpected bill, we could help you find a solution. If you’ve been turned down for credit in the past and have a bad credit history, we will more than likely be able to help you! </p>

<p style="margin-top:0;font-size:12px">2. Driver Loan is the trading name of Driver Loans Ltd, A UK registered company(NO. 09386059). We aren't a logbook lender yet, but we are applying to the Financial Conduct Authority to become one.
Registered Office: 86 - 90 Paul Street, London, EC2A. </p>
<p style="margin-top:0;font-size:12px">3. Agreements are secured against your vehicle and are subject to affordability. Missed payments may result in additional charges and/or the repossession of your vehicle.   </p>      </div>

  </div>
        <!--//container-->
    </div>
    <!--//footer-content-->
</footer>
<!--//footer-->

<footer class="footer" style="margin-top:-160px">

    <div class="footer-content">
        <div class="container">
            <div class="row">
              <!--//foooter-col-->
              <div class="footer-col col-md-3 col-sm-12 contact">
                  <div class="footer-col-inner">
                      <h3 class="title" style="color:#8C8B8C">Get in touch</h3>
                      <div class="row">
                          <p class="tel col-md-12 col-sm-4" style="color:#fff">
                              <i class="fa fa-phone" style="color:#fff"></i>0800 123 4567</p>
                          <p class="email col-md-12 col-sm-4">
                              <i class="fa fa-envelope" style="color:#fff"></i>
                              <a href="#" style="color:#fff">hello@driverloan.co.uk</a>
                          </p>
                          <p class="email col-md-12 col-sm-4" >
                              <i class="fa fa-comment" style="color:#fff"></i>
                              <a href="#" style="color:#fff">Live Chat</a>
                          </p>
                      </div>
                  </div>
                  <!--//footer-col-inner-->
              </div>
                <!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-4 links">
                    <div class="footer-col-inner">
                        <h3 class="title" style="color:#8C8B8C">About</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>FAQs</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Our Promises</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Testimonials</a>
                            </li>
                            <li>
                                <a href="http://driverloan.workable.com/" style="color:#fff"><i class="fa fa-caret-right"></i>Careers</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Terms of Services</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-4 links">
                    <div class="footer-col-inner">
                        <h3 class="title" style="color:#8C8B8C">Logbook Loans</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>What is a logbook loan?</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Important information</a>
                            </li>
                            <li>
                                <a href="http://driverloan.workable.com/" style="color:#fff"><i class="fa fa-caret-right"></i>Compare rates</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Terms</a>
                            </li>
                            <li>
                                <a href="#" style="color:#fff"><i class="fa fa-caret-right" style="color:#fff"></i>Secured loan</a>
                            </li>
                        </ul>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->

                <!--//foooter-col-->
                <div class="footer-col col-md-2 col-sm-12 contact" style="padding-top:20px">
                    <div class="footer-col-inner">
                        <div class="row">
                            <p class="tel col-md-12 col-sm-4">
                              <img src="http://cdn.mxpnl.com/site_media/images/partner/badge_blue@2x.png" alt="" style="width:140px"/>
                            <p class="email col-md-12 col-sm-4" style="margin-top:10px">
                            <img src="http://cdn.fifa14trader.com/img/norton.png" alt="" style="width:140px">
                            </p>

                        </div>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->

            </div>
            <!--//row-->



        </div>
        <!--//container-->
    </div>
    <!--//footer-content-->
</footer>
<!--//footer-->
