<div class="row">
    <div class="col-sm-8">
      <div class="well">
<div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-check" style="color:#eea303"></i></div>
  </div>
  <div class="col-sm-2" style="margin-top:5px;color:#fff">
 About you
  </div>
<div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-check" style="color:#eea303"></i></div>
  </div>
  <div class="col-sm-2" style="margin-top:5px;color:#fff">
   Your vehicle
  </div>
  <div class="col-sm-1">
<div class="numberCircle" style="color:#0e83cd">3</div>
  </div>
  <div class="col-sm-2" style="margin-top:5px;color:#fff">
Your Loan
  </div>
  <div class="col-sm-1">
<div class="numberCircle">4</div>
  </div>
  <div class="col-sm-2" style="margin-top:5px;">
Confirm
  </div>
        </div>
        
    </div>
  </div>
