<div class="row">
    <div class="col-sm-8">
      <div class="well">
<div class="col-sm-1">
<div class="numberCircle blue-circle"><i class="fa fa-check" style="color:#eea303"></i></div>
  </div>
  <div class="col-sm-2" style="margin-top:5px">
Your vehicle
  </div>
<div class="col-sm-1">
<div class="numberCircle blue-circle" style="color:#0e83cd">2</div>
  </div>
  <div class="col-sm-2" style="margin-top:5px;color:#0e83cd">
   Your details
  </div>
  <div class="col-sm-1">
<div class="numberCircle">3</div>
  </div>
  <div class="col-sm-2" style="margin-top:5px;">
Your Loan
  </div>
  <div class="col-sm-1">
<div class="numberCircle">4</div>
  </div>
  <div class="col-sm-2" style="margin-top:5px;">
Confirm
  </div>
        </div>
        
    </div>
  </div>
