@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';
@import '../assets/theme-3/styles.less';
@import '../assets/theme-3/mixins.less';


/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'apply/topup/apply/topup.less';
@import 'cookies/cookies.less';
@import 'main/main.less';
@import 'new_loan/loan_details/new_loan/loan_details.less';
@import 'new_loan/phone_call/new_loan/phone_call.less';
@import 'new_loan/upload_documents/new_loan/upload_documents.less';
@import 'new_loan/your_vehicle/new_loan/your_vehicle.less';
@import 'privacy/privacy.less';
@import 'reset_password/reset_password.less';
@import 'sign_agreement/sign_agreement.less';
@import 'terms/terms.less';
@import 'u/u.less';
@import 'your_loan/error/your_loan/error.less';
@import 'your_loan/payment_options/your_loan/payment_options.less';
@import 'your_loan/summary/your_loan/summary.less';
@import 'your_loan/your_details/your_loan/your_details.less';
// endinjector

#logo{
 width:50px;
 margin-top: -7px;
}


.btn-lg{
    height:60px;
    font-size:28px;
    border-radius: 2px;

}

.checkbox-label{
    margin-top: 0;
}



body{
    padding-top: 75px;
    
}

#play-trigger{
    margin-top:150px;
}

.video{
    background-color: #0e83cd;
}

.well{
    height:70px;
    border-radius: 0;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}

.form-control{
    height:55px;
    font-size: 16px;
    border-radius: 2px;
}

label{
     font-weight:normal;

}

.page-header-blue{
    color: #0e83cd;
    margin-top: 30px;
}

.blue-circle{
      color: #4d4d4d;
     border: 2px solid #0e83cd;
}

.form-header{
  text-align:center;
  font-size:20px;
  padding-bottom:5px;
}




.fa-check{
    color:E21F26;
}


.next-btn{
    margin-top: 20px;
}

.well{
    height: 75px;
}

.application-form-step-one{
    border: 1px solid #eee;
    margin-top: -21px;
}



.application-form-container{
    margin-top: -21px;
    border: 1px solid #eee;
    padding-top: 25px;
    padding-bottom: 5px;
}

.application-label{
    margin-top:10px;
}

.btn-add{
    height: 55px;
}

#loader{
    margin-right: -10px;
}

#spinning-loader{
   text-align: right;
   margin-top: 25px;
}


.title{
    margin-top: 15px;
}

#header{
    box-shadow: none;
    border-bottom: 1px solid #eee;
}

      #mobile-rep{
           height:100px;
        }

        #mobile-lead{
            margin-top: -15px;
        }

        #mobile-summary{
            margin-top: -15px;
        }

        #mobile-rep-exp{
            margin-top: -20px;
        }

@media(max-width:767px){

    body{
        margin-top: -75px;
    }

    .title{
        margin-top: -10px;
    }

    .page-header-blue{
        font-size: 25px;
        margin-top: 15px;
}

        #page-info{
            font-size: 16px;
        }

        .application-form-container{
            margin-top: 5px;
            padding-left: 10px;
             padding-right: 10px;
        }

        #find-address{
            margin-top: 10px;
        }

        .mobile-form-header{
            margin-top: 25px;
        }



        label{
            padding-bottom: 10px;
            margin-top: -50px;
        }

        #mobile-rep{
           margin-top: -15px;
           height: 150px;
           padding-top: 5px;
        }

        #mobile-summary{
            margin-top:-20px;
        }

        #mobile-rep-exp{
            margin-top: -33px;


        }

        .btn-main-mobile{
            margin-top: 15px;
        }

      .form-group{
        margin-top: -20px;
      }

  #mobile-divider{
    padding-bottom: 20px;
  }

  #mobile-declaration{
    margin-top: 20px;
  }

  .mobile-login-form{
    margin-top: -10px;
  }

  .mobile-login-btn{
    margin-top: 10px;
  }
}
