<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header-blue">Tell us about yourself</h1>
      <p class="lead">Make sure you have your vehicle's logbook with you durgin the application process.</p>
    </div>
  </div>
  </div>
  
  
  <!-- ******Application progress****** -->
  <div class="container">
  <div ng-include="'components/application-progress/application-progress-one.html'"></div>
  </div>
  
   <div class="container">
 <div class="row">
   
   <div class="col-sm-8" >
     
   <form class="form-horizontal application-form-container" name="form"  novalidate>
     <p class="form-header">Personal details</p>
     <hr>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Title</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="user.title" >
         
   
         <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 
      
    </div>
    
    
  </div>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">First Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.fName">

    </div>
  </div>
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Middle Initials</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.mInitials" placeholder="(Optional)">

    </div>
  </div>
        <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Last Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.lName">

    </div>
  </div>
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Date of birth</label>
    <div class="col-sm-2">
         <select class="form-control" ng-model="user.dobDay" >
         
   
         <option value=1>Mr</option>
          <option value=2>Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 
      

    </div>
      <div class="col-sm-2">
             <select class="form-control" ng-model="user.dobMonth" >
         
   
         <option value=1>Mr</option>
          <option value=2>Mrs</option>
           <option value=3>Miss</option>
            <option value=4>Ms</option>

</select> 
      

    </div>
         <div class="col-sm-2">
         <select class="form-control" ng-model="user.dobYear" >
         
   
         <option value=1990>Mr</option>
          <option value=1991>Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 
    </div>
     
  </div>
  
  
  
     <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Phone Number</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.mobileNumber" placeholder="(Your mobile phone number)">

    </div>
  </div>
  <hr>
       <p class="form-header">Address details</p>
     <hr>
     
       <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Residence status</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="user.residenceStatus" >
         
   
         <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 
      
    </div>
    
    
  </div>
  
       <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Postcode</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputPassword3" ng-model="address.postcode">

    </div>
    
     <div class="col-sm-3">
      <button class="btn btn-cta-primary btn-block btn-add" ng-click="findAddress()">Find address</button>

    </div>
  </div>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Select address</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="user.title" >
         
   
     <option ng-repeat="addressFound in addresses">{{addressFound.line_1}}</option>

</select> 
      
    </div>
    
    
  </div>
  
  
       <div class="form-group" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Address line 1</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.currentAddressLineOne" >

    </div>
  </div>
  
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Address line 2</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.currentAddressLineTwo" >

    </div>
  </div>
  
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Town/city</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.currentAddressTown" >

    </div>
  </div>
  
         <div class="form-group" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">County</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.currentAddressCounty" >

    </div>
  </div>
  
      <div class="form-group" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Time at address</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="user.title" >
         
   
         <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
           <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>

</select> 
      
    </div>
    
    
  </div>
  <hr>
     <p class="form-header">Create account</p>
     <hr>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.email">

    </div>
  </div>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="inputPassword3" ng-model="user.password">

    </div>
  </div>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Confirm password</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.confirmPassword">

    </div>
  </div>
  <hr>
      <div class="form-group">
   <div class="checkbox"  >
    <label class="col-sm-10 col-sm-offset-1">
      <input type="checkbox" > I Agree, to lrepn ipsum lorepnijshfh hdfhdfhfdhdhfdh jnsfjhfshjfhfshfhj fjfjfjfj kjsfjnsdnjvdsjn
    </label>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-3">
      <button type="submit" class="btn btn-cta-primary btn-lg btn-block" id="next-btn" ng-click="register()">Next</button>
    </div>
    
    <div class="col-sm-2" id="spinning-loader">
      <p id="loader" ></p>
    </div>
  </div>
</form>
     
   </div>
   
 </div>
  </div>
  
  
  
</div>






<div ng-include="'components/footer/footer.html'"></div>