<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" ng-model="vehicle">
      <h1 class="page-header-blue">Good news! you can borrow up to £{{ vehicle.value }}</h1>
      <p class="form-header" style="text-align:left" id="page-info">We need some personal information about you to carry out a credit check*</p>
    </div>
  </div>
  </div>

  <!-- ******Application progress****** -->
  <div class="container hidden-xs">
  <div ng-include="'components/application-progress/application-progress-one.html'"></div>
  </div>

   <div class="container">
 <div class="row">

   <div class="col-sm-8" >

   <form class="form-horizontal application-form-container" name="form"  novalidate>
     <p class="form-header">Personal details</p>
     <hr>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Title</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="user.title" ng-options="title.value for title in titles" >

         <option value="">--Please Select--</option>

</select>

    </div>

  </div>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">First Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.fName">

    </div>
  </div>
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Middle Initials</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.mInitials" placeholder="(Optional)">

    </div>
  </div>
        <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Last Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.lName">

    </div>
  </div>
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3  col-xs-12 control-label" style="margin-top:12px">Date of birth</label>
    <div class="col-sm-2 col-xs-4">
         <select class="form-control" ng-model="user.dobDay" ng-options="dobDay.name for dobDay in birthDays" >


         <option value="">--</option>


</select>


    </div>
      <div class="col-sm-2 col-xs-4">
     <select class="form-control" ng-model="user.dobMonth" ng-options="dobMonth.name for dobMonth in birthMonths" >


         <option value="">--</option>


</select>


    </div>
         <div class="col-sm-2 col-xs-4">
     <select class="form-control" ng-model="user.dobYear" ng-options="dobYear.name for dobYear in birthYears" >


         <option value="">--</option>


</select>

    </div>

    <div class="col-sm-1 hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="Your date of birth. You must be 18 or over to apply for a Driver Loan." tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>

  </div>



     <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Phone Number</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.mobileNumber" placeholder="(Your mobile phone number)">

    </div>
    <div class="col-sm-1  hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="We will call this number to speak to you before we payout your loan" tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>
  <hr class="hidden-xs">
       <p class="form-header mobile-form-header">Address details</p>
     <hr>

       <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Postcode</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputPassword3" ng-model="address.postcode">

    </div>

     <div class="col-sm-3">
      <button class="btn btn-cta-primary btn-block btn-add" ladda="loading" ng-click="findAddress()" id="find-address" data-style="zoom-in">Find address</button>

    </div>
    <div class="col-sm-1  hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="The postcode of the address where you currently live." tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

    <div class="form-group" ng-show="addressIsSelected" id="selectAddress">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Select address</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="addressSelected" ng-options="addressFound.line_1 for addressFound in addresses" ng-change="hideSelectAddress()">
<option value="">--Please Select--</option>

</select>

    </div>

  </div>

       <div class="form-group"  ng-show="addressIsSelected" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Address line 1</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="addressLineOne"   value="{{addressSelected.line_1}}">

    </div>
  </div>

         <div class="form-group" ng-show="addressIsSelected" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Address line 2</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" value="{{addressSelected.line_2}}" >

    </div>
  </div>

         <div class="form-group" ng-show="addressIsSelected" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Town/city</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" value="{{addressSelected.post_town}}" >

    </div>
  </div>

         <div class="form-group" ng-show="addressIsSelected"  >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">County</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" value="{{addressSelected.county}}" >

    </div>
  </div>

  <hr class="hidden-xs">
     <p class="form-header mobile-form-header">Create account</p>
     <hr>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.email">

    </div>

    <div class="col-sm-1  hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="Your personal email address. We will send a validation code to this email. Make sure this is an address that is checked regularly so that we can contact you. Your details are held securely and not passed to any third party." tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="inputPassword3" ng-model="user.password">

    </div>

    <div class="col-sm-1 hidden-xs" style="margin-top:13px">
    <a href="" tooltips tooltip-title="Password needs to be 6 characters or longer" tooltip-side="right" style="font-size:20px"><i class="fa fa-question-circle"></i></a>
    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Confirm password</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.confirmPassword">

    </div>
  </div>


  <hr>
          <div class="form-group" style="padding-bottom:5px">
   <div class="checkbox">
    <label class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox-label" id="mobile-declaration">
      <input type="checkbox" > By clicking 'Next' you have agreed that you wish to communicate with us through email. Our communication will consist of electronic account statements, documentation pertaining to your application and your account.
    </label>
  </div>
  </div>
  <hr>
  <div class="form-group" style="margin-top:20px">
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" ladda="loading" class="btn btn-cta-primary btn-lg btn-block" id="next-btn" ng-click="register()" data-style="zoom-in">Next</button>
    </div>
  </div>
</form>

   </div>


   <!-- CRITERIA-->
<div ng-include="'components/criteria/criteria.html'"></div>


 </div>
  </div>


  <!-- NORTON LOGO-->

  <div class="container">
    <div class="row">
      <div class="col-sm-8" style="text-align:right;margin-top:10px">
        <i class="fa fa-lock" style="color:#0e83cd"> </i> Secured by SSL
      </div>
    </div>
  </div>

</div>


<input type="text" style="display:none" name="initial" value=0/>
<input type="text" style="display:none" name="last" value=0/>
<input type="text" style="display:none" name="number" value=0/>
<input type="text" style="display:none" name="apr" value=164.61/>

<div ng-include="'components/footer/footer.html'"></div>
