<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" ng-model="vehicle">
      <h1 class="page-header-blue">Good news! you can borrow up to £{{ vehicle.value }}</h1>
      <p class="form-header" style="text-align:left" id="page-info">We need some personal information about you to carry out a credit check*</p>
    </div>
  </div>
  </div>

  <!-- ******Application progress****** -->
  <div class="container hidden-xs">
  <div ng-include="'components/application-progress/application-progress-one.html'"></div>
  </div>

   <div class="container">
 <div class="row">

   <div class="col-sm-8" >

   <form class="form-horizontal application-form-container" name="form"  novalidate>
     <p class="form-header">Personal details</p>
     <hr>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Title</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="user.title" ng-options="title.value for title in titles" >

         <option value="">--Please Select--</option>

</select>

    </div>

  </div>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">First Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.fName">

    </div>
  </div>
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Middle Initials</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.mInitials" placeholder="(Optional)">

    </div>
  </div>
        <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Last Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.lName">

    </div>
  </div>
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3  col-xs-12 control-label" style="margin-top:12px">Date of birth</label>
    <div class="col-sm-2 col-xs-4">
         <select class="form-control" ng-model="user.dobDay" ng-options="dobDay.name for dobDay in birthDays" >


         <option value="">--</option>


</select>


    </div>
      <div class="col-sm-2 col-xs-4">
     <select class="form-control" ng-model="user.dobMonth" ng-options="dobMonth.name for dobMonth in birthMonths" >


         <option value="">--</option>


</select>


    </div>
         <div class="col-sm-2 col-xs-4">
     <select class="form-control" ng-model="user.dobYear" ng-options="dobYear.name for dobYear in birthYears" >


         <option value="">--</option>


</select>

    </div>

  </div>



     <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Phone Number</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.mobileNumber" placeholder="(Your mobile phone number)">

    </div>
  </div>
  <hr class="hidden-xs">
       <p class="form-header mobile-form-header">Address details</p>
     <hr>

       <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Residence status</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="user.residenceStatus" ng-options="residenceStatus.name for residenceStatus in residenceStatuses" >

         <option value="">--</option>
</select>

    </div>
  </div>

       <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Postcode</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputPassword3" ng-model="address.postcode">

    </div>

     <div class="col-sm-3">
      <button class="btn btn-cta-primary btn-block btn-add" ladda="loading" ng-click="findAddress()" id="find-address" data-style="zoom-in">Find address</button>

    </div>
  </div>

    <div class="form-group" ng-show="addressIsSelected" id="selectAddress">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Select address</label>
    <div class="col-sm-6">

       <select class="form-control" ng-model="addressSelected" ng-options="addressFound.line_1 for addressFound in addresses" ng-change="hideSelectAddress()">
<option value="">--Please Select--</option>

</select>

    </div>

  </div>

       <div class="form-group"  ng-show="addressIsSelected" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Address line 1</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="addressLineOne" ng-model="addressLineOne"  value="{{addressSelected.line_1}}">

    </div>
  </div>

         <div class="form-group" ng-show="addressIsSelected" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Address line 2</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" value="{{addressSelected.line_2}}" >

    </div>
  </div>

         <div class="form-group" ng-show="addressIsSelected" >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Town/city</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" value="{{addressSelected.post_town}}" >

    </div>
  </div>

         <div class="form-group" ng-show="addressIsSelected"  >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">County</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" value="{{addressSelected.county}}" >

    </div>
  </div>

      <div class="form-group" ng-show="addressIsSelected"  >
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Time at address</label>
    <div class="col-sm-6">

    <select class="form-control" ng-model="user.timeAtAddress" ng-options="timeAtAddress.value for timeAtAddress in timeAtAddressValues" >

         <option value="">--</option>
</select>

    </div>

  </div>
  <hr class="hidden-xs">
     <p class="form-header mobile-form-header">Create account</p>
     <hr>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.email">

    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="inputPassword3" ng-model="user.password">

    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top:12px">Confirm password</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="user.confirmPassword">

    </div>
  </div>


  <hr>
          <div class="form-group" style="padding-bottom:5px">
   <div class="checkbox">
    <label class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox-label">
      <input type="checkbox" > By completing this application online you have agreed that you wish to communicate with us through email. Our communication will consist of electronic account statements, documentation pertaining to your application and your account..
    </label>
  </div>
  </div>
  <hr>
  <div class="form-group" style="margin-top:20px">
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" class="btn btn-cta-primary btn-lg btn-block" id="next-btn" ng-click="register()">Next</button>
    </div>
  </div>
</form>

   </div>

      <div class="col-sm-3 well hidden-xs" style="background:#eee;margin-left:40px;margin-top:-95px">
     <div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-info" style="color:#eea303"></i></div>
  </div>
   <div class="col-sm-8 col-sm-offset-1" style="margin-top:5px;">
 Eligibility Criteria
  </div>
   </div>
      <div class="col-sm-3 hidden-xs" style="background:#fff;margin-left:40px;margin-top:-21px;border:1px solid #eee;padding-left:40px;padding-top:20px;line-height:2.5em;padding-bottom:20px">
    &#10004; Be a UK resident<br>&#10004; Have a Full UK driving licence<br> &#10004; Earn more than £500 monthly <br> &#10004; Be the owner of the vehicle <br> &#10004; Vehicle must be roadworthy <br> &#10004; Must have a smartphone
   </div>
      <div class="col-sm-3 well hidden-xs" style="background:#eee;margin-left:40px;margin-top:55px">
     <div class="col-sm-1">
<div class="numberCircle"><i class="fa fa-phone" style="color:#eea303"></i></div>
  </div>
   <div class="col-sm-8 col-sm-offset-1" style="margin-top:5px;text-align:center">
 Contact us
  </div>

   </div>
      <div class="col-sm-3 hidden-xs" style="background:#fff;margin-left:40px;margin-top:-21px;border:1px solid #eee;height:180px;padding-left:30px;padding-top:20px;text-align:Center">
02085933403
<hr>
Our opening ours are monday - friday (9am - 8pm),<br> Saturdays (10am - 2pm)
   </div>

 </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8" style="text-align:right;margin-top:10px">
        <img src="http://i59.tinypic.com/wirfc6.gif" alt="">
      </div>
    </div>
  </div>

</div>


<input type="text" style="display:none" name="initial" value=0/>
<input type="text" style="display:none" name="last" value=0/>
<input type="text" style="display:none" name="number" value=0/>
<input type="text" style="display:none" name="apr" value=164.61/>

<div ng-include="'components/footer/footer.html'"></div>
